<div class="login-container flex-container align-middle align-center">
  <mat-card class="login-card">
    <div class="grid-y align-center align-middle">
      <mat-icon color="primary" [inline]="true" style="font-size: 54px">person_pin</mat-icon>
      <div class="mat-subheading-1">Login to continue</div>

      <form (ngSubmit)="login(loginForm)" [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="margin-top-1">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" required />
          <mat-error *ngIf="loginForm.get('username').invalid">{{
            getErrorMessage('username')
          }}</mat-error>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="loginForm.get('password').invalid">{{
            getErrorMessage('password')
          }}</mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          type="submit"
          color="primary"
          class="margin-bottom-1 width-100 margin-top-1"
        >
          Login
        </button>
      </form>
    </div>
  </mat-card>
</div>
